.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url(../images/restaurant-1284351.jpg); /* Replace with your image path */
  background-size: cover; /* Ensures image covers the entire element */
  background-position: center; /* Positions the image in the center */
  background-repeat: no-repeat; /* Prevents image repetition */
}
